<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.odyssey.apps.collagingpic">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />







    <uses-feature android:name="android.hardware.camera" />

    <application

        android:largeHeap="true"

        android:name=".skeleton.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/collaging"
        android:label="@string/app_name"
        android:roundIcon="@drawable/collaging_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".starting.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".starting.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".starting.AdScreenActivity"
            tools:ignore="DuplicateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".starting.PhotosActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".starting.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.odyssey.apps.popUp.PopUpActivity"
            android:theme="@style/AppTheme.PopUpTheme"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.odyssey.apps.IAP.IAPActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".skeleton.SkeletonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.odyssey.apps.Settings.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".starting.FilterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".skeleton.aspectActivity"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".skeleton.aspectActivityForFreeStyle"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".skeleton.HelpActivity"
            android:theme="@style/AppTheme.PopUpTheme"
            android:screenOrientation="portrait"></activity>




        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />

        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorStickerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />

        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorTextActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorCropActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />

    </application>

</manifest>
    <!-- monir 1 -->
    <!-- sudipto 1 -->
    <!-- sudipto 2 -->
    <!-- sudipto 3 -->
    <!-- monir 2 -->
    <!-- sudipto 4 -->
    <!-- sudipto 5 -->
    <!-- monir 3 -->
    <!-- sudipto 6 -->
    <!-- monir 4 -->
    <!-- sudipto 7 -->
    <!-- monir 5 -->
    <!-- ashraf 1 -->
    <!-- sudipto 8 -->
    <!-- monir 6 -->
    <!-- sudipto 9 -->
    <!-- sudipto 10 -->
    <!-- sudipto 11 Merged -->
    <!-- sudipto 12 -->
